$body-bg: #c1bdba;
$form-bg: #13232f;
$white: #ffffff;
$breakpoint-alpha: 750px; 

$main: #1ab188;
$main-dark: darken($main,5%);

$thin: 300;
$bold: 600;
$br: 4px;

*, *:before, *:after {
  box-sizing: border-box;
}

html {
	overflow-y: scroll; 
}

body {
  background:$body-bg;
}


.Date {
  font-size: 200%;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  text-align:center;
  color:$white;
  font-weight:$thin;
  margin:0 0 40px;
}

.form_type {
  background:rgba($form-bg,.9);
  padding: 40px;
  max-width:1000px;
  margin:40px auto;
  border-radius:$br;
  box-shadow:0 4px 10px 4px rgba($form-bg,.3);
}

.back1 {
  font-size:20px;
  margin:0 0 40px 0;
  font-weight: bold;
}

.TbyType {
  font-size: 250%;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  text-align:center;
  color:$white;
  font-weight:$thin;
  margin:0 0 40px;
}
.error_message
{
  font-size: 150%;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  text-align:center;
  color:#1ab188;
  margin:0 0 40px;
}
.table-style1 {
  margin: 25px 50px;
  min-width: 800px; 
  font-weight: bold;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  background: #34495E;
  color: #fff;
  border-radius: .4em;
  tr {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
	border-left: 2px solid #ddd;
	border-right: 2px solid #ddd;
	border-color: lighten(#34495E, 10%);
  }
  
  th {
	background: #1ab188;
	color: #ffffff;
  }
  
  td {
    display: block; 
	background: #34495E;
	border-left: 2px solid #ddd;
	border-right: 2px solid #ddd;
  }
  
  th, td {
	width: 500px;
	text-align: center;
	border-color: lighten(#34495E, 10%);
    @media (min-width: $breakpoint-alpha) {
      display: table-cell;
      padding: 1em !important; 
    }
  }
}




.bar_graph_img{
 
text-align: center;
}