html, body, div, span, applet, object, iframe,
h1, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}


article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}


body {
  font: 14px/20px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #404040;
  background-image: url("calculette.jpg");
}

.form-reg {
  background:rgba(#13232f,.9);
  padding: 40px;
  min-height: 650px;
  max-width:600px;
  margin:33px auto;
  border-radius: 4px;
  box-shadow:0 4px 10px 4px rgba(#13232f,.3);
}
.page-title {
	background:rgba(#13232f,.9);
	height: 100px;
	box-shadow:0 4px 10px 4px rgba(#13232f,.3);
	color: #1ab188;
	text-align: center;
	padding: 40px;
	font-size : 40px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  }
.log-in {
  position: relative;
  left: 65px;
  top: 10px;
  &:after {
    content: "";
    display: table;
    clear: both;
  }
  
  li a {
    display:block;
    text-decoration:none;
    padding:15px;
    background:rgba(#a0b3b0,.25);
    color:#a0b3b0;
    font-size:20px;
    float:left;
    width:50%;
    text-align:center;
    cursor:pointer;
    transition:.5s ease;
    &:hover {
      background:darken(#1ab188,5%);
      color:#ffffff;
    }
  }
  
  .active a {
    background:#1ab188;
    color:#ffffff;
  }
}
.reg-title {
  width: 430px;
  line-height: 43px;
  margin: 50px auto 20px;
  font-size: 19px;
  font-weight: 500;
  color: white;
  color: rgba(255, 255, 255, 0.95);
  text-align: center;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  background: #d7604b;
  border-radius: 3px;
  background-image: -webkit-linear-gradient(top, #dc745e, #d45742);
  background-image: -moz-linear-gradient(top, #dc745e, #d45742);
  background-image: -o-linear-gradient(top, #dc745e, #d45742);
  background-image: linear-gradient(to bottom, #dc745e, #d45742);
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.1), inset 0 0 0 1px rgba(255, 255, 255, 0.05), 0 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.1), inset 0 0 0 1px rgba(255, 255, 255, 0.05), 0 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3);
}

.reg {
  margin: 0 auto;
  width: 430px;
  padding: 20px;
  background: #f4f4f4;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3);
}

input {
  font-family: inherit;
  font-size: 150%;
  color: inherit;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.reg-input {
  display: block;
  width: 100%;
  height: 88px;
  margin-top: 2px;
  font-weight: 500;
  background: none;
  border: 0;
  border-bottom: 1px solid #d8d8d8;
}
.reg-input:focus {
  border-color: #1e9ce6;
  outline: 0;
}

.reg-button {
  display: block;
  width: 100%;
  height: 52px;
  margin-top: 25px;
  font-size: 22px;
  font-weight: bold;
  color: #000000;
  text-align: center;
  text-shadow: 0 1px rgba(255, 255, 255, 0.5);
  background: #fcfcfc;
  border: 1px solid;
  border-color: #d8d8d8 #d1d1d1 #c3c3c3;
  border-radius: 2px;
  cursor: pointer;
  background-image: -webkit-linear-gradient(top, #00CED1, #00BFFF);
  background-image: -moz-linear-gradient(top, #00CED1, #00BFFF);
  background-image: -o-linear-gradient(top, #00CED1, #00BFFF);
  background-image: linear-gradient(to bottom, #00CED1, #00BFFF);
  -webkit-box-shadow: inset 0 -1px rgba(0, 0, 0, 0.03), 0 1px rgba(0, 0, 0, 0.04);
  box-shadow: inset 0 -1px rgba(0, 0, 0, 0.03), 0 1px rgba(0, 0, 0, 0.04);
}
.reg-button:active {
  background: #eee;
  border-color: #c3c3c3 #d1d1d1 #d8d8d8;
  background-image: -webkit-linear-gradient(top, #eeeeee, #fcfcfc);
  background-image: -moz-linear-gradient(top, #eeeeee, #fcfcfc);
  background-image: -o-linear-gradient(top, #eeeeee, #fcfcfc);
  background-image: linear-gradient(to bottom, #eeeeee, #fcfcfc);
  -webkit-box-shadow: inset 0 1px rgba(0, 0, 0, 0.03);
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.03);
}
.reg-button:focus {
  outline: 0;
}
#signinButton {
position:absolute;
top: 155px;
left:875px;
}

#fb-loc{
position:absolute;
top: 157px;
left:595px;
}